.register-wrap {
    height: 100vh;
    @include flex(center, center);
    flex-direction: column;
    &__container {
        height: 70%;
        width: 350px;
        @include flex(center, flex-start);
        flex-direction: column;
        border: 1px solid black;
    }
}
.ant-page-header {
    padding: 0;
    width: 100%;
    .ant-page-header-heading-left {
        width: 100%;
        background-color: #0068ff;
        color: white !important;
        padding: 10px;
        margin: 0;
    }
    .ant-page-header-heading-title {
        flex: 1;
        text-align: center;
        color: white !important;
    }
    .ant-page-header-back div {
        color: white !important;
    }
    &-footer {
        padding: 10px;
        margin: 0;
        background-color: #ccc;
    }
}

.ant-input {
    margin: 10px 0;
    border-left: none;
    border-right: none;
    border-top: none;
}
.button {
    width: 200px;
    height: 40px !important;
    border-radius: 20px !important;
}
.ant-form {
    width: 100%;
    .ant-form-item {
        width: 100%;
        .ant-row {
            justify-content:center;
        }
    }
    .ant-col {
        span {
            border-right: none;
            border-left: none;
          
        }
    }
}
.otpItem{
    width: 50px;
    height: 50px;
    span{
       font-size: 20px;
    }
}