.loginPage {
    width: 100vw;
    height: 100vh;
    @include flex(center, center);
    background-image: url('../public//image//pagebg-1-1920x705.jpg');
    font-size: 1.6rem;
    &__container {
        // transform: translateY(-100%);
        &__header {
            text-align: center;
            h1,
            p {
                color: #fff;
                max-width: 400px;
            }
            h1 {
                font-size: 3.5em;
                margin: 0;
            }
        }
        .ant-tabs {
            width: 400px;
            height: 400px;
            padding: 20px 50px;
            background-color: #fff;
            &-nav {
                &-wrap {
                    .ant-tabs-nav-list {
                        width: 100%;
                        justify-content: space-around;
                        color: black;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
.buttonLogin {
    width: 150px;
    height: 40px !important;
    border-radius: 20px !important;
}
.ant-input {
    margin: 0;
    border: 1px solid #ccc;
}
.ant-form-item-control-input-content {
    @include flex(center, center);
}
.loginPassword {
    border: 1px solid #ccc !important;
}
.ant-col {
    margin: 0;
    text-align: left;
}
