.register-wrap {
    height: 100vh;
    @include flex(center, center);
    flex-direction: column;
    background-image: url('../public//image//pagebg-1-1920x705.jpg');

    &__container {
        height: 70%;
        width: 350px;
        @include flex(center, flex-start);
        flex-direction: column;
        border: 1px solid black;
        background-color: #fff;
    }
}
.ant-page-header {
    padding: 0 !important;
    width: 100%;
    .ant-page-header-heading-left {
        width: 100%;
        background-color: #0068ff;
        color: white !important;
        padding: 10px;
        margin: 0;
    }
    .ant-page-header-heading-title {
        flex: 1;
        text-align: center;
        color: white !important;
    }
    .ant-page-header-back div {
        color: white !important;
    }
    &-footer {
        padding: 10px;
        margin: 0 !important;
        background-color: #ccc;
    }
}

.ant-input {
    margin: 10px 0;
    border-left: none;
    border-right: none;
    border-top: none;
}
.buttonResgiter {
    width: 200px;
    height: 40px !important;
    border-radius: 20px !important;
    margin-top: 20px;
}
.ant-form {
    width: 100%;
    .ant-form-item {
        width: 100%;
        .ant-row {
            justify-content: center;
        }
    }
    .ant-col {
        span {
            border-right: none;
            border-left: none;
        }
    }
}
.otpItem {
    width: 50px;
    height: 50px;
    input{
        background-color: #fff;
        flex:1;
        font-size: 1.6rem;
    }
    span {
        font-size: 20px;
    }
}
